<ion-tabs class="tabs-icon-top">
  <ion-tab title="今日訂餐" icon="icon ion-home" href="#/tab/order">
    <ion-nav-view name="tab-order"></ion-nav-view>
  </ion-tab>
  <ion-tab title="本月消費" icon="icon ion-pie-graph" href="#/tab/consumer">
    <ion-nav-view name="tab-consumer"></ion-nav-view>
  </ion-tab>
  <ion-tab title="歷史訂購" icon="icon ion-speedometer" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>
  <ion-tab title="登入" icon="icon ion-ios7-locked" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>
</ion-tabs>
